@import "./fonts/stylesheet.css";
@import "./components/2-layout/swiper.css";
:root {
  --bgColor: #fff;
  --textColor: #0D0F15;
  --iconColor: #6E6E73;
  --iconbg: #DDE8F4;
  --langColor: #0D0F15;
  --pColor: #22252A;
  --arrowbg: #D7D7DF;
  --arrowColor: #6E6E73;
  --tabBg: #F6F9FC;
  --tabheadBg: #E8F0F7;
  --tabActiveBg: linear-gradient(268.3deg, #00FFF9 -4.34%, #00C5FF 13.53%, #0078FF 93.71%);
  --tabActive: #fff;
  --tabLine: transparent;
}

html.active {
  --bgColor: #06070A;
  --textColor: #fff;
  --iconColor: #fff;
  --iconbg: #131823;
  --langColor: #F4F4F4CC;
  --pColor: #F6F9FC;
  --arrowbg: #131823;
  --arrowColor: #6E6E73;
  --tabBg: #131823;
  --tabheadBg: #1B2232;
  --tabActiveBg: #131823;
  --tabActive: linear-gradient(268.3deg, #00FFF9 -4.34%, #00C5FF 13.53%, #0078FF 93.71%);
  --tabLine: linear-gradient(268.3deg, #00FFF9 -4.34%, #00C5FF 13.53%, #0078FF 93.71%);
}

html, body {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

/* Handle on hover */
/*** 
====================================================================
Global Settings
====================================================================
   ***/
body {
  font-family: "sfText", sans-serif;
  font-size: 18px;
  color: var(--langColor);
  line-height: 25px;
  font-weight: 600;
  background: var(--bgColor);
}

a {
  text-decoration: none;
  opacity: 1;
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}
a:hover {
  opacity: 0.88;
}

ul li {
  list-style: none;
}

.auto__container {
  position: relative;
  max-width: 1304px;
  margin: 0 auto;
  padding: 0 40px;
}

h1 {
  font-weight: 700;
  font-size: 112px;
  line-height: 122px;
  font-family: "sfDisplay", sans-serif;
  background: linear-gradient(268.3deg, #00fff9 -4.34%, #00c5ff 15.57%, #0078ff 93.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h2 {
  font-size: 76px;
  line-height: 82px;
  font-weight: 600;
  background: linear-gradient(268.3deg, #00fff9 -4.34%, #00c5ff 13.53%, #0078ff 93.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h3 {
  font-size: 56px;
  line-height: 70px;
}
h3 span {
  background: linear-gradient(268.3deg, #00fff9 -4.34%, #00c5ff 13.53%, #0078ff 93.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h4 {
  font-size: 48px;
  line-height: 58px;
}

h5 {
  font-size: 28px;
  line-height: 36px;
}
h5.sm {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
}

h6.big {
  font-size: 20px;
  line-height: 25px;
}
h6.sm {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

p.extra {
  font-size: 32px;
  line-height: 42px;
}
p.big {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
p.sm {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

main {
  overflow: hidden;
  margin-top: 215px;
}

.button {
  padding: 15px 39px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}
.button:hover {
  opacity: 0.88;
}
.button.primary {
  color: #fff;
  background: linear-gradient(268.3deg, #00FFF9 -4.34%, #00C5FF 13.53%, #0078FF 93.71%);
  padding: 15px 38px;
  line-height: 19px;
}
.button.icon {
  padding: 13px;
  background-color: var(--iconbg);
}
.button.icon img.sun {
  display: none;
}
.button.icon.active img.sun {
  display: block;
}
.button.icon.active img.moon {
  display: none;
}
.button.icon svg {
  fill: var(--iconColor);
  width: 24px;
  height: 24px;
}
.button.secondary {
  padding: 18px 38px;
  font-size: 20px;
  border-radius: 30px;
  background-color: #fff;
}
.button.secondary span {
  line-height: 23px;
  font-weight: 700;
  font-family: "sfDisplay", sans-serif;
  background: linear-gradient(268.3deg, #00fff9 -4.34%, #00c5ff 13.53%, #0078ff 93.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.mainLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainLogo__image {
  width: 50px;
  margin-right: 12px;
}
.mainLogo__image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.mainLogo p {
  font-family: "sfDisplay", sans-serif;
  font-size: 500;
  line-height: 28px;
  font-size: 28px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header .auto__container {
  max-width: 1460px;
}
.header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-animation-name: sticky;
          animation-name: sticky;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}
.header__inner {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__inner-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 28px;
  line-height: 28px;
  font-weight: 500;
  font-family: "sfDisplay", sans-serif;
  max-width: 170px;
  margin-right: 40px;
  color: var(--textColor);
}
.header__inner-logo span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  margin-right: 13px;
}
.header__inner-logo span img {
  width: 100%;
}
.header__inner-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 auto;
}
.header__inner-buttons .button {
  margin-right: 12px;
}
.header__inner-buttons .lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Graphik", sans-serif;
  color: var(--langColor);
  font-size: 14px;
  line-height: 15px;
  letter-spacing: -0.5px;
  font-weight: 500;
}
.header__inner-buttons .lang svg {
  width: 11px;
  height: 7px;
  margin-left: 10px;
  stroke: var(--langColor);
  fill: transparent;
}
.header__inner-buttons .lang svg.globe {
  width: 24px;
  height: 24px;
  margin: 0 8px 0 0;
}

@-webkit-keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
}
.nav__inner li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 24px;
}
.nav__inner li:last-child {
  margin-right: 0;
}
.nav__inner li a {
  color: var(--textColor);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  position: relative;
}
.nav__inner li a::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 0%;
  height: 1px;
  background: linear-gradient(268.3deg, #00FFF9 -4.34%, #00C5FF 13.53%, #0078FF 93.71%);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.nav__inner li a.active {
  background: linear-gradient(268.3deg, #00FFF9 -4.34%, #00C5FF 13.53%, #0078FF 93.71%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav__inner li a.active::before {
  width: 100%;
}
.nav .burger {
  display: none;
}

.footer__inner {
  padding: 100px 0 170px;
}
.footer__inner-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 48px;
}
.footer__inner-main-content {
  width: calc(40% - 10px);
  max-width: 407px;
}
.footer__inner-main-links {
  width: calc(60% - 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__inner-copy {
  text-align: center;
  color: var(--pColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
}
.footer__inner-copy span {
  width: 6px;
  height: 6px;
  display: block;
  margin: 0 12px;
  border-radius: 50%;
  background-color: #d9d9d9;
}
.footer p.sm {
  line-height: 25px;
  color: var(--pColor);
}
.footerLink h5 {
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 20px;
  font-family: "sfDisplay", sans-serif;
}
.footerLink a {
  display: block;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 19px;
  color: var(--iconColor);
}
.footerLink a:last-child {
  margin-bottom: 0;
}
.footer .mainLogo {
  margin-bottom: 25px;
}

.join__inner {
  padding: 80px 20px;
  border-radius: 40px;
  background-color: #f6f9fc;
}
.join__inner-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 248px;
  margin: 0 auto;
}
.join h5 {
  margin-bottom: 38px;
  font-family: "sfDisplay", sans-serif;
  text-align: center;
}
.joinSocial {
  width: 69px;
  height: 69px;
  background-color: #dddde4;
  border-radius: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.joinSocial svg {
  width: 24px;
  height: 24px;
  fill: var(--iconColor);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.joinSocial:hover {
  background-color: var(--langColor);
  opacity: 1;
}
.joinSocial:hover svg {
  fill: #fff;
}

.discleamer__inner {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.discleamer h3 {
  font-family: "sfDisplay", sans-serif;
  width: calc(36% - 10px);
}
.discleamer p.big {
  width: calc(64% - 10px);
  line-height: 25px;
  color: var(--iconColor);
}

.faq__inner {
  padding: 60px 0;
}
.faq__inner-main {
  max-width: 1000px;
  margin: 0 auto;
}
.faqItem {
  margin-bottom: 24px;
}
.faqItem:last-child {
  margin-bottom: 0;
}
.faqItem__header {
  padding: 30px;
  background-color: #f6f9fc;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.faqItem__header h6.big {
  font-family: "sfDisplay", sans-serif;
}
.faqItem__header span {
  display: block;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.faqItem__header span svg {
  width: 18px;
  height: 10px;
  fill: transparent;
  stroke: #cbcbcd;
}
.faqItem__header.active {
  background-color: var(--textColor);
  border-radius: 10px 10px 0 0;
}
.faqItem__header.active h6 {
  color: #fff;
}
.faqItem__header.active span {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
.faqItem__content {
  padding: 0 30px 0;
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  background-color: var(--textColor);
  border-radius: 0 0 10px 10px;
}
.faqItem__content p.sm {
  font-weight: 400;
  opacity: 0.7;
  line-height: 22px;
  color: #fff;
}
.faqItem__content.active {
  max-height: 500px;
  opacity: 1;
  pointer-events: all;
  padding: 0 30px 30px;
}
.faq h3 {
  text-align: center;
  margin-bottom: 55px;
}

.sponsors__inner {
  padding: 160px 0 100px;
}
.sponsors__inner-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sponsors h3 {
  text-align: center;
  margin-bottom: 60px;
}
.sponsorsItem {
  width: calc(25% - 14px);
  padding: 63px 45px;
  background-color: #f6f9fc;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sponsorsItem img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.status__inner {
  padding: 120px 20px;
  background-color: #f6f9fc;
  border-radius: 40px;
}
.status__inner-main {
  max-width: 707px;
  margin: 0 auto;
}
.status__inner-check {
  display: inline;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: var(--iconColor);
  position: relative;
  padding-bottom: 6px;
}
.status__inner-check:after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--iconColor);
}
.status h3 {
  text-align: center;
  margin-bottom: 60px;
}
.status h3 span {
  background: linear-gradient(268.3deg, #00fff9 -4.34%, #00c5ff 13.53%, #0078ff 93.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: inline;
  margin-bottom: 14px;
  font-size: 22px;
  line-height: 39ox;
}
.statusItem {
  margin-bottom: 28px;
}
.statusItem h6.sm {
  margin-bottom: 9px;
  font-family: "sfDisplay", sans-serif;
  font-weight: 600;
}
.statusItem__range {
  padding-right: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.statusItem__range-line {
  width: 100%;
  height: 8px;
  opacity: 0.8;
  border-radius: 100px;
  background-color: #eeeef1;
  position: relative;
}
.statusItem__range-line span {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 78%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.statusItem__range-line span img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.statusItem__range-line::before {
  content: "";
  width: 80%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(268.3deg, #00fff9 -4.34%, #00c5ff 13.53%, #0078ff 93.71%);
  border-radius: 100px;
}
.statusItem__range p {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.location__inner {
  padding: 160px 0;
}
.location__inner-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.location h3 {
  text-align: center;
  margin-bottom: 55px;
}
.locationItem {
  width: calc(50% - 12px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 36px;
  background-color: #f6f9fc;
  border-radius: 10px;
}
.locationItem__info {
  width: calc(31% - 10px);
}
.locationItem__map {
  width: calc(69% - 10px);
}
.locationItem__map iframe {
  width: 100%;
  height: 100%;
}
.locationItem h5.sm {
  margin-bottom: 143px;
}
.locationItem h5.sm small {
  display: block;
  margin-top: 24px;
  font-size: 18px;
}
.locationItem a {
  color: #3772FF;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  display: inline;
  position: relative;
  padding-bottom: 1px;
}
.locationItem a:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #3772FF;
  position: absolute;
  left: 0;
  bottom: 0;
}

.airdrop__inner {
  padding: 100px 0 238px;
}
.airdrop__inner-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.airdrop h3 {
  text-align: center;
  margin-bottom: 60px;
}
.airdropJoin {
  width: calc(45% - 10px);
  max-width: 521px;
  padding: 115px 40px 100px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background: linear-gradient(261.97deg, #00fff9 -138.57%, #00c5ff 4.66%, #0078ff 128.42%);
}
.airdropJoin h4 {
  color: #fff;
  margin-bottom: 36px;
  text-align: center;
}
.airdropJoin .button {
  display: inline;
}
.airdropJoin__bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 262px;
  pointer-events: none;
}
.airdropJoin__bg img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.airdropInfo {
  width: calc(55% - 10px);
  max-width: 626px;
}
.airdropInfo__text {
  margin-bottom: 24px;
}
.airdropInfo__text:last-child {
  margin-bottom: 0;
}
.airdropInfo__text h6 {
  margin-bottom: 20px;
}
.airdropInfo__text p {
  max-width: 600px;
}
.airdropInfo__text p.sm {
  line-height: 22px;
}
.airdrop .auto__container {
  max-width: 1280px;
}

.bonus__inner {
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bonus__inner-info {
  width: calc(50% - 10px);
  max-width: 515px;
}
.bonus__inner-image {
  width: calc(50% - 10px);
  max-width: 572px;
}
.bonus__inner-image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.bonus h3 {
  margin-bottom: 16px;
  font-family: "sfDisplay", sans-serif;
}
.bonus p {
  color: var(--iconColor);
  font-family: "sfDisplay", sans-serif;
  margin-bottom: 40px;
}
.bonus .timer {
  padding: 28px 64px 28px 40px;
  background-color: #0D0F15;
  border-radius: 10px;
  margin-bottom: 24px;
}
.bonus .timer__clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bonus .timer h6 {
  margin-bottom: 8px;
  font-weight: 500;
  color: #fff;
}
.bonus .timer p, .bonus .timer span {
  font-size: 48px;
  line-height: 48px;
  color: #fff;
  font-family: "sfDisplay", sans-serif;
  margin-bottom: unset;
}
.bonus a {
  font-size: 16px;
  line-height: 19px;
  color: var(--langColor);
  position: relative;
  padding-bottom: 2px;
}
.bonus a:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--langColor);
  position: absolute;
  left: 0;
  bottom: 0;
}
.bonus.multiplier .bonus__inner {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.bonus.multiplier .bonus__inner-info {
  width: calc(21%- 10px);
}
.bonus.multiplier .bonus__inner-text {
  width: calc(79% - 10px);
}
.bonus.multiplier .bonus__inner-text p {
  font-weight: 500;
  line-height: 25px;
  font-family: "sfText", sans-serif;
}

.rate__inner {
  padding: 120px 102px;
  background-color: #f6f9fc;
  border-radius: 40px;
}
.rate__inner-image {
  width: 100%;
}
.rate__inner-image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.rate h3 {
  margin-bottom: 60px;
  text-align: center;
  font-family: "sfDisplay", sans-serif;
}

h5.sm {
  font-size: 24px;
  line-height: 30px;
  font-family: "sfDisplay", sans-serif;
}

h4.sm {
  font-size: 36px;
  line-height: 45px;
}

.hero .auto__container {
  max-width: 1190px;
}
.hero__inner {
  text-align: center;
}
.hero__inner-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__inner-image img {
  width: 100%;
}
.hero__inner h1 {
  margin-bottom: 20px;
}
.hero__inner h4 {
  font-family: "sfDisplay", sans-serif;
  margin-bottom: 10px;
  color: var(--textColor);
  font-weight: 600;
}
.hero__inner h5 {
  margin-bottom: 20px;
  color: var(--textColor);
  font-weight: 700;
  opacity: 0.7;
}
.hero__inner h5:last-of-type {
  margin-bottom: 55px;
  opacity: 1;
}

.intro {
  padding: 217px 0;
}
.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.intro__inner-content {
  width: 65%;
  max-width: 745px;
  padding: 140px 0 60px;
}
.intro__inner-swiper-outer {
  width: calc(80% - 18px);
  height: 100%;
  position: absolute;
  top: 0;
  left: calc(65% + 35px);
}
.intro__inner .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.intro__inner .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}
.intro__inner .swiperBtn {
  border-radius: 50%;
  width: 52px;
  height: 52px;
  position: absolute;
  top: calc(100% + 65px);
  left: 14%;
  z-index: 5;
}
.intro__inner .swiperBtn:hover {
  opacity: 0.88;
}
.intro__inner .swiperBtn::after {
  font-size: 16px;
  line-height: 16px;
}
.intro__inner .swiper-button-next {
  background: linear-gradient(268.3deg, #00FFF9 -4.34%, #00C5FF 13.53%, #0078FF 93.71%);
  left: calc(14% + 68px);
}
.intro__inner .swiper-button-next::after {
  color: #fff;
}
.intro__inner .swiper-button-prev {
  background-color: var(--arrowbg);
}
.intro__inner .swiper-button-prev::after {
  color: var(--arrowColor);
}
.intro__inner h2 {
  margin-bottom: 36px;
  font-family: "sfDisplay", sans-serif;
  letter-spacing: -0.02em;
}
.intro__inner p {
  font-weight: 600;
  font-family: "sfDisplay", sans-serif;
  color: var(--pColor);
  opacity: 0.8;
}

.tab {
  padding-bottom: 400px;
}
.tab__inner-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: var(--tabheadBg);
  overflow: hidden;
}
.tab__inner-header .tabBtn {
  width: 20%;
  text-align: center;
  padding: 22px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--textColor);
  position: relative;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: pointer;
  background: transparent;
}
.tab__inner-header .tabBtn:hover {
  opacity: 0.8;
}
.tab__inner-header .tabBtn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--tabLine);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.tab__inner-header .tabBtn h5 {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.tab__inner-header .tabBtn.active {
  background: var(--tabActiveBg);
}
.tab__inner-header .tabBtn.active::before {
  width: 100%;
}
.tab__inner-header .tabBtn.active h5 {
  background: var(--tabActive);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.tab__inner-content {
  background-color: var(--tabBg);
  padding: 30px 60px 60px 80px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.tabItem {
  display: none;
  color: var(--textColor);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.tabItem__content {
  width: calc(50% - 20px);
}
.tabItem__image {
  width: calc(50% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tabItem__image img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
}
.tabItem.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
@media (max-width: 1024px) {
  ::-webkit-scrollbar {
    display: none;
  }
}