@import "./fonts/stylesheet.css";
@import "./components/2-layout/swiper.css";
:root {
  --bgColor: #fff;
  --textColor: #0D0F15;
  --iconColor: #6E6E73;
  --iconbg: #DDE8F4;
  --langColor: #0D0F15;
  --pColor: #22252A;
  --arrowbg: #D7D7DF;
  --arrowColor: #6E6E73;
  --tabBg: #F6F9FC;
  --tabheadBg: #E8F0F7;
  --tabActiveBg: linear-gradient(268.3deg, #00FFF9 -4.34%, #00C5FF 13.53%, #0078FF 93.71%);
  --tabActive: #fff;
  --tabLine: transparent;
}

html.active {
  --bgColor: #06070A;
  --textColor: #fff;
  --iconColor: #fff;
  --iconbg: #131823;
  --langColor: #F4F4F4CC;
  --pColor: #F6F9FC;
  --arrowbg: #131823;
  --arrowColor: #6E6E73;
  --tabBg: #131823;
  --tabheadBg: #1B2232;
  --tabActiveBg: #131823;
  --tabActive: linear-gradient(268.3deg, #00FFF9 -4.34%, #00C5FF 13.53%, #0078FF 93.71%);
  --tabLine: linear-gradient(268.3deg, #00FFF9 -4.34%, #00C5FF 13.53%, #0078FF 93.71%);
}

html, body {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

/*** 
====================================================================
Global Settings
====================================================================
   ***/
body {
  font-family: "sfText", sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 25px;
  font-weight: 600;
  background: var(--bgColor);
}

a {
  text-decoration: none;
  opacity: 1;
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}
a:hover {
  opacity: 0.88;
}

ul li {
  list-style: none;
}

.auto__container {
  position: relative;
  max-width: 1304px;
  margin: 0 auto;
  padding: 0 40px;
}

h1 {
  font-weight: 700;
  font-size: 112px;
  line-height: 122px;
  font-family: "sfDisplay", sans-serif;
  background: linear-gradient(268.3deg, #00fff9 -4.34%, #00c5ff 15.57%, #0078ff 93.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h2 {
  font-size: 76px;
  line-height: 82px;
  font-weight: 600;
  background: linear-gradient(268.3deg, #00fff9 -4.34%, #00c5ff 13.53%, #0078ff 93.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h3 {
  font-size: 56px;
  line-height: 70px;
}
h3 span {
  background: linear-gradient(268.3deg, #00fff9 -4.34%, #00c5ff 13.53%, #0078ff 93.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h4 {
  font-size: 48px;
  line-height: 58px;
}

h5 {
  font-size: 28px;
  line-height: 36px;
}
h5.sm {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
}

h6.big {
  font-size: 20px;
  line-height: 25px;
}
h6.sm {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

p.extra {
  font-size: 32px;
  line-height: 42px;
}
p.big {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
p.sm {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

main {
  overflow: hidden;
  margin-top: 215px;
}

.button {
  padding: 15px 39px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}
.button:hover {
  opacity: 0.88;
}
.button.primary {
  color: #fff;
  background: linear-gradient(268.3deg, #00FFF9 -4.34%, #00C5FF 13.53%, #0078FF 93.71%);
  padding: 15px 38px;
  line-height: 19px;
}
.button.icon {
  padding: 13px;
  background-color: var(--iconbg);
}
.button.icon img.sun {
  display: none;
}
.button.icon.active img.sun {
  display: block;
}
.button.icon.active img.moon {
  display: none;
}
.button.icon svg {
  fill: var(--iconColor);
  width: 24px;
  height: 24px;
}
.button.secondary {
  padding: 18px 37px;
  font-size: 20px;
  border-radius: 30px;
  background-color: #fff;
}
.button.secondary span {
  line-height: 23px;
  font-weight: 700;
  font-family: "sfDisplay", sans-serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background: transparent;
}

.mainLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainLogo__image {
  width: 50px;
  margin-right: 12px;
}
.mainLogo__image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.mainLogo p {
  font-size: 500;
  line-height: 28px;
  font-size: 28px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header .auto__container {
  max-width: 1460px;
}
.header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-animation-name: sticky;
          animation-name: sticky;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}
.header__inner {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__inner-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 28px;
  line-height: 28px;
  font-weight: 500;
  font-family: "sfDisplay", sans-serif;
  max-width: 170px;
  margin-right: 40px;
  color: var(--textColor);
}
.header__inner-logo span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  margin-right: 13px;
}
.header__inner-logo span img {
  width: 100%;
}
.header__inner-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 auto;
}
.header__inner-buttons .button {
  margin-right: 12px;
}
.header__inner-buttons .lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Graphik", sans-serif;
  color: var(--langColor);
  font-size: 14px;
  line-height: 15px;
  letter-spacing: -0.5px;
  font-weight: 500;
}
.header__inner-buttons .lang svg {
  width: 11px;
  height: 7px;
  margin-left: 10px;
  stroke: var(--langColor);
  fill: transparent;
}
.header__inner-buttons .lang svg.globe {
  width: 24px;
  height: 24px;
  margin: 0 8px 0 0;
}

@-webkit-keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
}
.nav__inner li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 24px;
}
.nav__inner li:last-child {
  margin-right: 0;
}
.nav__inner li a {
  color: var(--textColor);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  position: relative;
}
.nav__inner li a::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 0%;
  height: 1px;
  background: linear-gradient(268.3deg, #00FFF9 -4.34%, #00C5FF 13.53%, #0078FF 93.71%);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.nav__inner li a.active {
  background: linear-gradient(268.3deg, #00FFF9 -4.34%, #00C5FF 13.53%, #0078FF 93.71%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav__inner li a.active::before {
  width: 100%;
}
.nav .burger {
  display: none;
}

.footer__inner-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__inner-main-content {
  width: calc(40% - 10px);
}
.footer__inner-main-links {
  width: calc(60% - 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footerLink h5 {
  font-size: 20px;
  line-height: 23px;
}
.footerLink a {
  display: block;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 19px;
}

.hero .auto__container {
  max-width: 1190px;
}
.hero__inner {
  text-align: center;
}
.hero__inner-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__inner-image img {
  width: 100%;
}
.hero__inner h1 {
  margin-bottom: 20px;
}
.hero__inner h4 {
  font-family: "sfDisplay", sans-serif;
  margin-bottom: 10px;
  color: var(--textColor);
  font-weight: 600;
}
.hero__inner h5 {
  margin-bottom: 20px;
  color: var(--textColor);
  font-weight: 700;
  opacity: 0.7;
}
.hero__inner h5:last-of-type {
  margin-bottom: 55px;
  opacity: 1;
}

.intro {
  padding: 217px 0;
}
.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.intro__inner-content {
  width: 65%;
  max-width: 745px;
  padding: 140px 0 60px;
}
.intro__inner-swiper-outer {
  width: calc(80% - 18px);
  height: 100%;
  position: absolute;
  top: 0;
  left: calc(65% + 35px);
}
.intro__inner .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.intro__inner .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}
.intro__inner .swiperBtn {
  border-radius: 50%;
  width: 52px;
  height: 52px;
  position: absolute;
  top: calc(100% + 65px);
  left: 14%;
  z-index: 5;
}
.intro__inner .swiperBtn:hover {
  opacity: 0.88;
}
.intro__inner .swiperBtn::after {
  font-size: 16px;
  line-height: 16px;
}
.intro__inner .swiper-button-next {
  background: linear-gradient(268.3deg, #00FFF9 -4.34%, #00C5FF 13.53%, #0078FF 93.71%);
  left: calc(14% + 68px);
}
.intro__inner .swiper-button-next::after {
  color: #fff;
}
.intro__inner .swiper-button-prev {
  background-color: var(--arrowbg);
}
.intro__inner .swiper-button-prev::after {
  color: var(--arrowColor);
}
.intro__inner h2 {
  margin-bottom: 36px;
  font-family: "sfDisplay", sans-serif;
  letter-spacing: -0.02em;
}
.intro__inner p {
  font-weight: 600;
  font-family: "sfDisplay", sans-serif;
  color: var(--pColor);
  opacity: 0.8;
}

.tab {
  padding-bottom: 400px;
}
.tab__inner-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: var(--tabheadBg);
  overflow: hidden;
}
.tab__inner-header .tabBtn {
  width: 20%;
  text-align: center;
  padding: 22px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--textColor);
  position: relative;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: pointer;
  background: transparent;
}
.tab__inner-header .tabBtn:hover {
  opacity: 0.8;
}
.tab__inner-header .tabBtn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--tabLine);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.tab__inner-header .tabBtn h5 {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.tab__inner-header .tabBtn.active {
  background: var(--tabActiveBg);
}
.tab__inner-header .tabBtn.active::before {
  width: 100%;
}
.tab__inner-header .tabBtn.active h5 {
  background: var(--tabActive);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.tab__inner-content {
  background-color: var(--tabBg);
  padding: 30px 60px 60px 80px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.tabItem {
  display: none;
  color: var(--textColor);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.tabItem__content {
  width: calc(50% - 20px);
}
.tabItem__image {
  width: calc(50% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tabItem__image img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
}
.tabItem.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  ::-webkit-scrollbar {
    display: none;
  }
}