// colors

$black: #000;
$white: #fff;
$gradient: linear-gradient(268.3deg, #00FFF9 -4.34%, #00C5FF 13.53%, #0078FF 93.71%);


$bgColor: var(--bgColor);
$textColor: var(--textColor);
$iconColor: var(--iconColor);
$iconbg: var(--iconbg);
$langColor: var(--langColor);
$pColor: var(--pColor);
$arrowbg: var(--arrowbg);
$arrowColor: var(--arrowColor);
$tabBg: var(--tabBg);
$tabheadBg: var(--tabheadBg);
$tabActiveBg: var(--tabActiveBg);
$tabActive: var(--tabActive);
$tabLine: var(--tabLine);
$tickColor: var(--tickColor);
$donateBorder: var(--donateBorder);
$donateDashed: var(--donateDashed);
$teamArrow: var(--teamArrow);
$teamArrow2: var(--teamArrow2);

html[data-theme |= light] {
    --bgColor: #fff;
    --textColor: #0D0F15;
    --iconColor: #6E6E73;
    --iconbg: #DDE8F4;
    --langColor: #0D0F15;
    --pColor: #22252A;
    --arrowbg: #D7D7DF;
    --arrowColor: #6E6E73;
    --tabBg: #F6F9FC;
    --tabheadBg: #E8F0F7;
    --tabActiveBg: linear-gradient(268.3deg, #00FFF9 -4.34%, #00C5FF 13.53%, #0078FF 93.71%);
    --tabActive: #fff;
    --tabLine: transparent;
    --tickColor: #fff;
    --donateBorder: #EFEFF0;
    --donateDashed: #6E6E7380;
    --teamArrow: #DEDEE2;
    --teamArrow2: #0D0F15;

}
html[data-theme |= dark] {
    --bgColor: #06070A;
    --textColor: #fff;
    --iconColor: #fff;
    --iconbg: #131823;
    --langColor: #F4F4F4CC;
    --pColor: #F6F9FC;
    --arrowbg: #131823;
    --arrowColor: #F6F9FC;
    --tabBg: #131823;
    --tabheadBg: #1B2232;
    --tabActiveBg: #131823;
    --tabActive: linear-gradient(268.3deg, #00FFF9 -4.34%, #00C5FF 13.53%, #0078FF 93.71%);
    --tabLine: linear-gradient(268.3deg, #00FFF9 -4.34%, #00C5FF 13.53%, #0078FF 93.71%);
    --tickColor: #070707;
    --donateBorder: #191D24;
    --donateDashed: #17A8FA;
    --teamArrow: #06070A;
    --teamArrow2: linear-gradient(268.3deg, #00FFF9 -4.34%, #00C5FF 13.53%, #0078FF 93.71%);

}

// fonts
$graphik: 'Graphik', sans-serif;
$sfDisplay: 'sfDisplay', sans-serif;
$sfText: 'sfText', sans-serif;



$bgSection:#f6f9fc;
$socialBg:#dddde4;
$linkColor:#3772FF;
$timerColor:#0D0F15;
$bordersColor:#E5E5E6;
