.dash {
    margin: 0 0 0 auto;
    width: calc(100% - 260px);
    min-height: 100vh;
    padding: 40px 10px 30px 0;

    .auto__container {
        padding: 0 30px;
        max-width: 1600px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        &-title {
            font-family: $graphik;
            font-size: 24px;
            line-height: 26px;
            font-weight: 600;
            letter-spacing: -0.03em;
        }

        &-buttons {
            display: flex;
            align-items: center;
            &-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 24px;
                height: 24px;
                img {
                    width: 100%;
                }
            }
        }

        &.stake {
            .button {
                border-radius: 14px;
                color: #17A8FA;
                margin-right: 17px;
                background: #192B45;
                border: unset;
                padding: 13px 16px;
                &.pulse {
                    background-color: #2D9CDB;
                    color: $white;
                    border: unset;

                }
            }
        }

        .button {
            padding: 12px 16px;
            margin-right: 6px;
            border-radius: 4px;
            font-size: 16px;
            line-height: 21px;
            font-weight: 500;
            font-family: $graphik;
            letter-spacing: -0.02em;
            background: linear-gradient(265.01deg, #00FFF9 -4.53%, #00C5FF 16.56%, #0078FF 137.36%),
                linear-gradient(0deg, rgba(221, 220, 227, 0.1), rgba(221, 220, 227, 0.1));
            color: #EAE9F1;
            border: 1px solid #17A8FA;

            &:last-child {
                margin: 0;
            }

            &.pulse {
                border: 1px solid #17A8FA;
                background: #FFFFFF0D;
                position: relative;
                padding-right: 50px;
                color: $white;

                &::before {
                    position: absolute;
                    content: "";
                    top: 50%;
                    right: 24px;
                    width: 9px;
                    height: 9px;
                    border-top: 3px solid $white;
                    border-right: 3px solid $white;
                    transform: translateY(-75%) rotate(135deg);
                }
            }

            span {
                width: 24px;
                height: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: -2px 8px 0 0;

                img {
                    width: 100%;
                }
            }
        }
    }

    &__inner {
        &-row {
            display: flex;
            justify-content: space-between;
            margin: 0 -15px;
        }

        &-col {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: calc(35% - 30px);
            margin: 15px;
            border-radius: 14px;
            background-color: $tabBg;
            padding: 40px;

            &.sm {
                padding: 0;
                background: transparent;
            }

            &:first-child {
                width: calc(65% - 30px);
            }

            &-title {
                margin-bottom: 35px;

                p {
                    display: flex;
                    align-items: center;
                    margin-bottom: 18px;

                    span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 24px;
                        height: 24px;
                        margin-right: 8px;

                        img {
                            width: 100%;

                        }
                    }

                    b {
                        font-size: 18px;
                        line-height: 21px;
                        font-weight: 500;
                        font-family: $graphik;
                        letter-spacing: -0.02em;
                        opacity: .6;
                    }
                }

                h5 {
                    font-weight: 600;
                    font-family: $graphik;
                    line-height: 100%;
                    color: #17A8FA;
                }
            }

            &-currency {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }

            &-item {
                width: calc(33.3% - 20px);
                max-width: 70px;
                font-family: $graphik;

                h6 {
                    font-weight: 500;
                    opacity: .8;
                    margin-bottom: 14px;
                }

                p {
                    display: flex;
                    align-items: center;

                    span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 24px;
                        height: 24px;
                        margin: -2px 8px 0 0;

                        img {
                            width: 100%;
                        }
                    }

                    b {
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 18px;
                        letter-spacing: -0.02em;
                        opacity: .6;
                    }
                }
            }

            &-image {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                border-radius: 14px;
                overflow: hidden;

                img {
                    @include fullImage;
                }
            }
        }

        &-table {
            margin-top: 15px;
            border-radius: 14px;
            background-color: $tabBg;
            padding: 20px 40px;
        }
    }

    &Item {
        width: calc(33.3% - 40px);
        margin-bottom: 40px;

        &:nth-child(n + 4) {
            margin: 0;
        }

        &__title {
            display: flex;
            align-items: center;
            margin-bottom: 18px;

            p {
                display: flex;
                align-items: center;
                font-family: $graphik;
                font-size: 15px;
                line-height: 18px;
                font-weight: 500;
                letter-spacing: -0.02em;
                opacity: .6;
            }

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 24px;
                height: 24px;
                margin: -1px 8px 0 0;

                img {
                    width: 100%;
                }
            }
        }

        h6 {
            font-family: $graphik;
            font-weight: 500;
            opacity: .8;
        }
    }

    table {
        width: 100%;

        tr {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: #2D3853;
            }

            &.last {
                &::before {
                    background: transparent;
                }
            }

            th,
            td {
                font-weight: 500;
                letter-spacing: -0.02em;
                padding: 18px 20px;
                text-align: start;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }

                &:nth-child(2) {
                    width: 20%;
                }
            }

            th {
                font-size: 15px;
                line-height: 18px;
                opacity: .7;
            }

            td {
                font-size: 16px;
                line-height: 19px;
                font-family: $sfDisplay;

                p {
                    display: flex;
                    align-items: center;
                }

                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 24px;
                    height: 24px;
                    margin: -2px 8px 0 0;

                    img {
                        width: 100%;
                    }
                }

                b {
                    opacity: .8;
                }

                button {
                    transition: .3s ease;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 26px;
                    height: 26px;
                    background: transparent;
                    margin: 0 0 0 auto;

                    img {
                        width: 100%;
                    }

                    &:hover {
                        opacity: .7;
                    }
                }
            }
        }
    }
}