.dex {
  background-color: #06070a;

  .auto__container {
    padding: 0;
  }

  &__inner {
    &-content {
      width: 100%;
      position: absolute;
      bottom: 60px;
      left: 60px;
    }

    h1 {
      color: $white;
      margin-bottom: 20px;
      line-height: 100%;
    }

    h5 {
      color: $white;
      line-height: 100%;

      &.extra {
        font-weight: 600;
        font-family: $sfDisplay;
        line-height: 140%;
        max-width: 420px;
      }
    }

    h2 {
      font-family: $sfDisplay;
      font-weight: 600;
      margin-bottom: 20px;
      background: linear-gradient(
        268.3deg,
        #00fff9 -4.34%,
        #00c5ff 13.53%,
        #0078ff 93.71%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      letter-spacing: -0.02em;
    }
  }
}

// 1180px
@mixin dex-xlg-xxlg {
  .dex {
    .video {
      min-height: 590px;
    }

    &__inner {
      &-content {
        bottom: 30px;
        left: 30px;
      }

      h1,
      h2 {
        margin-bottom: 10px;
      }
    }
  }
}

// 930px
@mixin dex-md-lg {
  .dex {
    &__inner {
      h1 {
        font-size: 48px;
      }

      h5 {
        font-size: 18px;
      }
    }
  }
}

// 750px
@mixin dex-sm-md {
  .dex {
    &__inner {
      &-content {
        left: 20px;
        bottom: 30px;
      }

      h1 {
        margin-bottom: 5px;
      }

      h2 {
        margin-bottom: 5px;
      }

      h5 {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}

// 440px
@mixin dex-xxsm-xsm {
  .dex {
    &__inner {
    }
  }
}

// 390px
@mixin dex-xxxsm-xxsm {
  .dex {
    &__inner {
    }
  }
}

.summary {
  &__inner {
    padding: 0 0 160px;
    display: flex;
    justify-content: space-between;

    &-info {
      width: calc(35% - 15px);
    }

    &-text {
      width: calc(65% - 15px);
      padding: 60px;
      border-radius: 20px;
      background-color: $tabBg;
      max-width: 754px;
    }
  }

  h3 {
    margin-bottom: 30px;
    font-family: $sfDisplay;
  }

  h5 {
    &.extra {
      font-size: 24px;
      line-height: 30px;
      font-family: $sfDisplay;
    }
    margin-bottom: 24px;
    font-family: $sfText;
  }

  ul {
    li {
      padding-left: 34px;
      position: relative;
      font-weight: 500;
      margin-bottom: 24px;
      font-size: 18px;
      line-height: 25px;
      color: $textColor;
      span {
        font-weight: 700;
      }
      @include inDarkMode {
        opacity: 0.8;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        content: "";
        width: 24px;
        height: 2px;
        position: absolute;
        left: 0;
        top: 15px;
        background: $gradient;
      }
    }
  }

  p {
    color: $textColor;
    @include inDarkMode {
      opacity: 0.8;
    }
  }

  &.sm {
    .summary {
      &__inner {
        padding: 160px 0 0;

        &-text {
          padding: unset;
          background-color: unset;
          max-width: 770px;
        }
      }
    }

    ul {
      li {
        padding-left: 20px;

        &::before {
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background: $textColor;
          top: 10px;
        }
      }
    }

    h3 {
      margin-bottom: 0;
    }
  }
}

// 1180px
@mixin summary-xlg-xxlg {
  .summary {
    &__inner {
      padding-bottom: 140px;

      &-text {
        padding: 60px 50px;
      }
    }

    h3 {
      margin-bottom: 25px;
    }

    &.sm {
      .summary {
        &__inner {
          padding-top: 100px;
        }
      }
    }
  }
}

// 1024px
@mixin summary-lg-xlg {
  .summary {
    &__inner {
      flex-wrap: wrap;
      padding-bottom: 100px;

      &-info {
        width: 100%;
        max-width: 900px;
        margin: 0 auto 40px;
      }

      &-text {
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
      }
    }

    h3 {
      margin-bottom: 25px;
    }

    p {
      &.big {
        font-size: 18px;
        line-height: 26px;
      }
    }

    &.sm {
      .summary {
        &__inner {
          padding: 80px 0 10px;
        }
      }

      ul {
        li {
          &::before {
            top: 9px;
          }
        }
      }
    }
  }
}

// 750px
@mixin summary-sm-md {
  .summary {
    &__inner {
      padding-bottom: 70px;

      &-text {
        padding: 60px 40px;
      }
    }

    h3 {
      margin-bottom: 20px;
    }

    p {
      &.big {
        font-size: 16px;
        line-height: 24px;
      }
    }

    ul {
      li {
        font-size: 16px;
        line-height: 24px;

        &::before {
          width: 22px;
        }
      }
    }

    &.sm {
      .summary {
        &__inner {
          padding-top: 60px;
        }
      }
    }
  }
}

// 650px

@mixin summary-sm-md-extra {
  .summary {
    &__inner {
      &-info {
        margin-bottom: 36px;
      }

      &-text {
        padding: 60px 30px;
        border-radius: 15px;
      }
    }
  }
}

// 540px
@mixin summary-xsm-sm {
  .summary {
    &__inner {
      padding-bottom: 60px;
      &-text {
        padding: 25px;
        border-radius: 12px;
      }
    }

    h3 {
      margin-bottom: 15px;
    }

    p {
      &.big {
        font-size: 15px;
        line-height: 21px;
      }
    }

    ul {
      li {
        font-size: 15px;
        line-height: 19px;
        padding-left: 30px;

        &::before {
          top: 8.5px;
          width: 18px;
        }
      }
    }

    &.sm {
      .summary {
        &__inner {
          padding-top: 40px;

          &-info {
            margin-bottom: 20px;
          }
        }

        ul {
          li {
            &::before {
              top: 7px;
            }
          }
        }
      }
    }
  }
}

// 440px
@mixin summary-xxsm-xsm {
  .summary {
    &__inner {
      &-text {
        padding: 60px 20px;
        border-radius: 10px;
      }
    }

    h5 {
      margin-bottom: 28px;
    }

    ul {
      li {
        &::before {
          top: 8.5px;
          width: 15px;
        }
      }
    }

    h3 {
      margin-bottom: 25px;
    }

    &.sm {
      .summary {
        &__inner {
          padding-top: 20px;
        }
      }
    }
  }
}

// 390px
@mixin summary-xxxsm-xxsm {
  .summary {
    &__inner {
      padding-bottom: 40px;
    }

    ul {
      li {
        padding-left: 25px;

        &::before {
          width: 12px;
        }
      }
    }

    &.sm {
      h3 {
        br {
          display: none;
        }
      }
    }
  }
}

.fees {
  padding-bottom: 160px;

  &__inner {
    &-main {
      padding: 56px;
      border: 1px solid $feesBorder;
      border-radius: 20px;
      margin-bottom: 60px;
    }

    &-info {
      text-align: center;
      max-width: 790px;
      margin: 0 auto;
      color: $white;
      opacity: 0.8;
    }
  }

  &Text {
    margin-bottom: 28px;

    h5 {
      background: linear-gradient(
        268.3deg,
        #00fff9 -4.34%,
        #00c5ff 13.53%,
        #0078ff 93.71%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      margin-bottom: 16px;
      display: inline-block;
      font-family: $sfText;
      font-weight: 700;
    }

    p {
      color: $white;
      opacity: 0.8;

      span {
        color: $white;
        opacity: 0.8;
        font-weight: 700;
      }
    }
  }

  &List {
    padding: 24px;
    background: $feesItenBg;
    border-radius: 20px;
    margin-bottom: 12px;
  }

  ul {
    li {
      padding-left: 24px;
      position: relative;
      font-size: 18px;
      font-weight: 500;
      line-height: 25px;
      margin-bottom: 7px;
      color: $white;
      opacity: 0.8;
      display: inline-block;
      span {
        font-weight: 700;
      }
      strong {
        font-weight: 700;
      }

      &.color {
        color: unset;
        background: linear-gradient(
          268.3deg,
          #00fff9 -4.34%,
          #00c5ff 13.53%,
          #0078ff 93.71%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        span {
          background: $white;
          opacity: 0.8;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          position: relative;
          z-index: 2;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        content: "";
        width: 6px;
        height: 6px;
        background-color: $white;
        opacity: 0.8;
        position: absolute;
        top: 8.5px;
        left: 10px;
        border-radius: 50%;
      }
    }
  }

  h3 {
    margin-bottom: 60px;
    text-align: center;
    font-family: $sfDisplay;
    background: linear-gradient(
      268.3deg,
      #00fff9 -4.34%,
      #00c5ff 13.53%,
      #0078ff 93.71%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    span {
      background: $textColor;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }

  p {
    &.sm {
      margin-bottom: 36px;
      color: $feesPColor;
    }
  }
}

// 1180px
@mixin fees-xlg-xxlg {
  .fees {
    padding-bottom: 120px;

    &__inner {
      &-main {
        margin-bottom: 50px;
        padding: 40px;
      }
    }

    h3 {
      margin-bottom: 50px;
    }

    ul {
      li {
        font-size: 16px;
        line-height: 22px;

        &::before {
          top: 7px;
        }
      }
    }
  }
}

// 1024px
@mixin fees-lg-xlg {
  .fees {
    padding-bottom: 90px;

    &__inner {
      &-main {
        padding: 45px;
        margin-bottom: 45px;
      }
    }

    h3 {
      margin-bottom: 45px;
    }

    &Text {
      margin-bottom: 25px;

      h5 {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 10px;
      }
    }

    &List {
      padding: 20px;
      border-radius: 15px;
    }
  }
}

// 930px
@mixin fees-md-lg {
  .fees {
    padding-bottom: 70px;

    &__inner {
      &-main {
        padding: 35px;
        border-radius: 17px;
        margin-bottom: 40px;
      }

      &-info {
        br {
          display: none;
        }
      }
    }

    &Text {
      h5 {
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 8px;
      }
    }

    &List {
      padding: 15px;
      border-radius: 10px;
    }

    h3 {
      margin-bottom: 40px;
    }

    ul {
      li {
        font-size: 15px;
        line-height: 21px;
      }
    }
  }
}

// 650px
@mixin fees-sm-md-extra {
  .fees {
    &__inner {
      &-main {
        padding: 25px;
        border-radius: 13px;
        margin-bottom: 30px;
      }
    }

    &Text {
      margin-bottom: 20px;

      h5 {
        margin-bottom: 5px;
      }
    }

    h3 {
      margin-bottom: 28px;
    }

    p {
      &.sm {
        margin-bottom: 25px;
      }
    }
  }
}

// 540px
@mixin fees-xsm-sm {
  .fees {
    padding-bottom: 50px;

    ul {
      li {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}

// 440px
@mixin fees-xxsm-xsm {
  .fees {
    &__inner {
      &-main {
        padding: 28px 20px 50px;
        border-radius: 10px;
      }
    }

    &Text {
      h5 {
        font-size: 18px;
        line-height: 24px;
      }
    }

    &List {
      padding: 10px;
      border-radius: 5px;
    }

    ul {
      li {
        font-size: 13px;
        line-height: 19px;
        padding-left: 15px;

        &::before {
          width: 4px;
          height: 4px;
          left: 7px;
        }
      }
    }
  }
}

// 390px
@mixin fees-xxxsm-xxsm {
  .fees {
    padding: 20px 0 60px;
    &__inner {
      &-info {
        text-align: left;
        font-size: 15px;
        line-height: 22px;
        font-weight: 500;
        font-family: $sfDisplay;
        br {
          display: block;
          &:first-child {
            display: none;
          }
        }
      }
    }
    &Text {
      margin-bottom: 28px;
      &:last-child {
        margin-bottom: 0;
      }

      h5 {
        font-size: 18px;
        line-height: 18px;
        font-family: $sfDisplay;
        margin-bottom: 12px;
        font-weight: 600;
      }
    }
    p {
      &.sm {
        margin-bottom: 28px;
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
      }
      &.big {
        font-weight: 400;
      }
    }
    ul {
      padding: 24px 20px;
      border-radius: 20px;
      margin: 0 -10px 12px;
      li {
        font-size: 15px;
        line-height: 22px;
        font-weight: 400;
        margin-right: -7px;
        letter-spacing: -0.02em;
        &::before {
          left: 0;
          top: 8px;
        }
        span {
          font-weight: 400;
        }
      }
    }
  }
}

// ----------------897qw98e87qw9e7qw8sdsd
.discleamer {
  &__inner {
    padding: 160px 0;
    display: flex;
    justify-content: space-between;
  }

  h3 {
    font-family: $sfDisplay;
    width: calc(36% - 10px);
  }

  p {
    @include inDarkMode {
      opacity: 0.7;
    }
    &.big {
      width: calc(64% - 10px);
      line-height: 25px;
      color: $iconColor;
    }
    br {
      display: none;
    }
  }
}
// 840px
@mixin discleamer-md-lg-extra {
  .discleamer {
    &__inner {
      padding: 60px 0;

      flex-wrap: wrap;
    }

    h3 {
      width: 100%;
      margin-bottom: 30px;
      text-align: center;
    }

    p {
      &.big {
        width: 100%;
        font-size: 16px;
        line-height: 22px;
      }
      br {
        display: block;
      }
    }
  }
}
// 540px
@mixin discleamer-xsm-sm {
}
// 440px
@mixin discleamer-xxsm-xsm {
  .discleamer {
    h3 {
      margin-bottom: 24px;
      text-align: left;
    }
    p {
      &.big {
        font-size: 15px;
        line-height: 20px;
        font-weight: 400;
        letter-spacing: -0.02em;
      }
    }
  }
}

// +++++++++++++++++++++++++++++++++++sdsd
.sponsors {
  &__inner {
    padding: 140px 0;

    &-main {
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;
    }

    &-check {
      text-align: center;
    }
  }

  h3 {
    text-align: center;
    margin-bottom: 60px;
  }

  &Item {
    width: calc(25% - 14px);
    min-height: 99px;
    padding: 63px 45px;
    background-color: $tabBg;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
}

// 1180px
@mixin sponsors-xlg-xxlg {
  .sponsors {
    &__inner {
      padding: 120px 0;

      &-main {
        margin-bottom: 50px;
      }
    }

    h3 {
      margin-bottom: 50px;
    }

    &Item {
      padding: 50px 40px;
    }
  }
}

// 1024px
@mixin sponsors-lg-xlg {
  .sponsors {
    &__inner {
      padding: 90px 0;

      &-main {
        margin-bottom: 40px;
      }
    }

    h3 {
      margin-bottom: 38px;
    }

    &Item {
      padding: 40px 30px;
      width: calc(25% - 10px);
    }
  }
}

// 840px
@mixin sponsors-md-lg-extra {
  .sponsors {
    &__inner {
      padding: 60px 0;

      &-main {
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    &Item {
      width: calc(50% - 20px);
      max-width: 265px;
      margin: 10px;

      img {
        width: 80%;
        max-height: 35px;
      }
    }
  }
}

// 540px
@mixin sponsors-xsm-sm {
  .sponsors {
    &__inner {
      &-main {
        margin-bottom: 30px;
      }
    }

    &Item {
      padding: 30px 20px;
      width: calc(50% - 14px);
      margin: 7px 7px;
      border-radius: 11px;
    }
  }
}

// 390px
@mixin sponsors-xxxsm-xxsm {
  .sponsors {
    &__inner {
      &-main {
        margin-bottom: 13px;
      }
      &-check {
        font-weight: 500;
        font-family: $sfDisplay;
        font-size: 15px;
        line-height: 19px;
      }
    }
    &Item {
      img {
        width: 90%;
      }
    }
  }
}

// 4-5555555555555555555555555555555555555sdsds

.status {
  &__inner {
    position: relative;
    padding: 120px 40px;
    background-color: $tabBg;
    border-radius: 40px;

    &-main {
      max-width: 707px;
      margin: 0 auto;
    }

    &-check {
      display: inline;
      font-size: 16px;
      line-height: 16px;
      font-weight: 500;
      color: $check;
      position: relative;
      padding-bottom: 5px;

      &:after {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $check;
      }
    }
  }

  h3 {
    text-align: center;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $sfDisplay;

    span {
      background: linear-gradient(
        268.3deg,
        #00fff9 -4.34%,
        #00c5ff 13.53%,
        #0078ff 93.71%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      display: inline;
      margin-bottom: 14px;
      font-size: 22px;
      line-height: 39ox;
      font-family: $sfDisplay;
    }
  }

  &Item {
    margin-bottom: 28px;

    h6 {
      &.sm {
        margin-bottom: 9px;
        font-family: $sfDisplay;
        font-weight: 600;
      }
    }

    &__range {
      padding-right: 50px;
      position: relative;
      display: flex;
      align-items: center;

      &-line {
        width: 100%;
        height: 8px;
        opacity: 0.8;
        border-radius: 100px;
        background-color: $line;
        position: relative;

        button {
          width: 28px;
          height: 28px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          background-color: unset;
          z-index: 2;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        span {
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: linear-gradient(
            268.3deg,
            #00fff9 -4.34%,
            #00c5ff 13.53%,
            #0078ff 93.71%
          );
          border-radius: 100px;
        }
      }

      p {
        font-size: 16px;
        line-height: 16px;
        font-weight: 500;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .circle {
    position: absolute;
    bottom: -27%;
    right: -23%;
    z-index: -1;
  }
}

// 1350px
@mixin status-xxxlg-xxxxlg {
  .status {
    h3 {
      span {
        font-size: 19px;
        line-height: 26px;
        margin-bottom: 8px;
      }
    }
  }
}

// 1180px
@mixin status-xlg-xxlg {
  .status {
    &__inner {
      padding: 90px 40px;
    }

    h3 {
      margin-bottom: 50px;

      span {
        font-size: 17px;
        line-height: 22px;
      }
    }
  }
}

// 1024px
@mixin status-lg-xlg {
  .status {
    &__inner {
      padding: 70px 40px;
    }

    h3 {
      margin-bottom: 40px;
    }

    .circle {
      width: 500px;
    }

    .check {
      span {
        left: -30%;
        transform: translateX(0);

        &::before {
          display: none;
        }
      }

      &::before {
        position: absolute;
        bottom: calc(100% + 2.5px);
        left: 50%;
        content: "";
        border-width: 5px;
        border-style: solid;
        border-color: var(--textColor) transparent transparent transparent;
        transform: translateX(-50%);
        opacity: 0;
        transition: 0.3s ease;
      }

      &.active {
        span {
          opacity: 1;
        }

        &::before {
          opacity: 1;
        }
      }
    }
  }
}

// 930px
@mixin status-md-lg {
  .status {
    &__inner {
      padding: 60px 40px;
    }

    h3 {
      margin-bottom: 20px;
    }
  }
}

// 750px
@mixin status-sm-md {
  .status {
    &__inner {
      padding: 60px 30px;
      border-radius: 20px;
    }

    &Item {
      h6 {
        &.sm {
          font-size: 16px;
          line-height: 22px;
        }
      }
      &__range {
        &-line {
          height: 6px;
          button {
            width: 22px;
            height: 22px;
          }
        }

        p {
          font-size: 15px;
          line-height: 15px;
        }
      }
    }

    h3 {
      margin-bottom: 30px;

      span {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 5px;
      }
    }
    .circle {
      width: 400px;
      right: -33%;
      bottom: -11%;
    }
  }
}

// 540px
@mixin status-xsm-sm {
  .status {
    &__inner {
      padding: 60px 20px;
      border-radius: 15px;
    }

    &Item {
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 45px;
      }
      &:nth-child(1) {
        .statusItem__range-line button {
          left: 76% !important;
        }
      }
      &:nth-child(2) {
        .statusItem__range-line button {
          left: 66% !important;
        }
      }
      &:nth-child(3) {
        .statusItem__range-line button {
          left: 88% !important;
        }
      }
      &:nth-child(4) {
        .statusItem__range-line button {
          left: 24% !important;
        }
      }
      &:nth-child(5) {
        .statusItem__range-line button {
          left: 84% !important;
        }
      }
      &:nth-child(6) {
        .statusItem__range-line button {
          left: 91% !important;
        }
      }
      &:nth-child(7) {
        .statusItem__range-line button {
          left: 72% !important;
        }
      }
      h6 {
        &.sm {
          font-size: 15px;
          line-height: 20px;
          margin-bottom: 10px;
        }
      }
    }
    .check {
      margin-top: 34px;
    }
    h3 {
      margin-bottom: 25px;
    }
  }
}

// 390px
@mixin status-xxxsm-xxsm {
  .status {
    background-color: $tabBg;

    &__inner {
      background-color: unset;
      padding: 60px 0;
    }
    &Item{
      &:nth-child(1) {
        .statusItem__range-line button {
          left: 73% !important;
        }
      }
      &:nth-child(2) {
        .statusItem__range-line button {
          left: 63% !important;
        }
      }
      &:nth-child(3) {
        .statusItem__range-line button {
          left: 85% !important;
        }
      }
      &:nth-child(4) {
        .statusItem__range-line button {
          left: 21% !important;
        }
      }
      &:nth-child(5) {
        .statusItem__range-line button {
          left: 81% !important;
        }
      }
      &:nth-child(6) {
        .statusItem__range-line button {
          left: 88% !important;
        }
      }
      &:nth-child(7) {
        .statusItem__range-line button {
          left: 69% !important;
        }
      }
    }
    .check {
      span {
        left: 0;
      }
    }

    h3 {
      margin-bottom: 24px;
      background: linear-gradient(
        268.3deg,
        #00fff9 -4.34%,
        #00c5ff 14.55%,
        #0078ff 93.71%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      span {
        background: $white;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-bottom: 12px;
      }
    }
  }
}

// 'efdsfffffffffffffffffffffffffffffsdsds
.location {
  &__inner {
    padding: 160px 0;

    &-main {
      display: flex;
      justify-content: space-between;
    }
  }

  h3 {
    text-align: center;
    margin-bottom: 55px;
    font-family: $sfDisplay;
  }

  &Item {
    width: calc(50% - 12px);
    display: flex;
    justify-content: space-between;
    padding: 30px 36px;
    background-color: $tabBg;
    border-radius: 10px;

    &__map {
      width: calc(100% - 180px);

      iframe {
        width: 100%;
        height: 100%;
      }
    }

    &__info {
      max-width: 158px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }

    h5 {
      font-family: $sfDisplay;
      &.sm {
        margin-bottom: 143px;

        small {
          display: block;
          margin-top: 24px;
          font-size: 18px;
        }
      }
    }

    a {
      font-family: $sfDisplay;
      color: $linkColor;
      font-size: 16px;
      line-height: 19px;
      font-weight: 700;
      display: inline;
      position: relative;
      padding-bottom: 1px;
      background: linear-gradient(
        268.3deg,
        #00fff9 -4.34%,
        #00c5ff 13.53%,
        #0078ff 93.71%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;

      &:after {
        content: "";
        width: 100%;
        height: 1px;
        background: $gradient;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }
}

// 1250px
@mixin location-xlg-xxlg-extra {
  .location {
    &__inner {
      padding: 130px 0;
    }

    h3 {
      margin-bottom: 40px;
    }

    &Item {
      padding: 25px 28px;
      width: calc(50% - 10px);
    }
  }
}

// 1180px
@mixin location-xlg-xxlg {
  .location {
    &__inner {
      padding: 100px 0;
    }

    h3 {
      margin-bottom: 35px;
    }

    &Item {
      padding: 22px 25px;
      width: calc(50% - 10px);

      &__map {
        width: calc(100% - 160px);
      }

      &__info {
        max-width: 140px;
      }

      h5 {
        &.sm {
          font-size: 18px;
          line-height: 22px;
          margin-bottom: 100px;

          small {
            font-size: 16px;
            line-height: 20px;
          }
        }
      }
    }
  }
}

// 1024px
@mixin location-lg-xlg {
  .location {
    &__inner {
      padding: 70px 0;

      &-main {
        flex-wrap: wrap;
      }
    }

    &Item {
      width: 100%;
      max-width: 700px;
      margin: 0 auto 30px;
      &:last-child {
        margin-bottom: 0;
      }

      h5 {
        &.sm {
          margin-bottom: 150px;
        }
      }
    }
  }
}

// 650px
@mixin location-sm-md-extra {
  .location {
    &__inner {
      padding: 60px 0;
    }

    &Item {
      padding: 20px;
      border-radius: 10px;

      &__map {
        width: calc(100% - 130px);
      }

      &__info {
        max-width: 112px;

        h5 {
          &.sm {
            font-size: 15px;
            line-height: 22px;

            small {
              font-size: 13px;
              line-height: 17px;
              margin-top: 10px;
            }
          }
        }
      }

      a {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}

// 540px
@mixin location-xsm-sm {
  .location {
    &Item {
      &__info {
        h5 {
          &.sm {
            margin-bottom: 100px;
          }
        }
      }

      a {
        font-size: 12px;
        line-height: 16px;
      }
    }

    h3 {
      margin-bottom: 30px;
    }
  }
}

// 440px
@mixin location-xxsm-xsm {
  .location {
    &Item {
      padding: 15px;

      &__info {
        h5 {
          &.sm {
            margin-bottom: 80px;
          }
        }
      }
    }
  }
}

// 390px
@mixin location-xxxsm-xxsm {
  .location {
    &Item {
      flex-direction: column;
      position: relative;
      padding: 33px 20px 20px;
      border-radius: 10px;
      margin-bottom: 24px;
      &:last-child {
        margin-bottom: 0;
      }
      &__map {
        width: 100%;
        padding-bottom: 75%;
        position: relative;

        iframe {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
      }
      &__info {
        max-width: unset;
        width: 100%;
        margin-bottom: 18px;
        h5 {
          width: 100%;
          text-align: center;
          &.sm {
            margin-bottom: 12px;
            font-size: 24px;
            line-height: 30px;
            font-weight: 600;
            small {
              margin: 7px 0 0 0;
              font-size: 15px;
              line-height: 19.5px;
              font-weight: 500;
              br {
                display: none;
              }
            }
          }
        }
        a {
          text-align: center;
          font-size: 15px;
          line-height: 19.5px;
          margin: 0 auto;
        }
      }
    }
  }
}

// -dsfsd-fdsfpsd-fds-sdsdsdsd
// 390px
@mixin airdrop-xxxsm-xxsm {
  .airdrop {
    h3 {
      margin-bottom: 36px;
    }
    &Join {
      padding: 36px 10px;

      h4 {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 24px;
        letter-spacing: -0.02em;
      }

      .button {
        &.secondary {
          padding: 11px 35px;

          span {
            font-size: 15px;
            line-height: 19.5px;
          }
        }
      }
      &__bg {
        max-width: 120px;
        left: 0;
        bottom: -20%;
      }
    }
  }
}
// dsijufhsdfjhsdfkshdfkhsdfksdhfksdfhjdf

.bonus {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-info {
      width: calc(50% - 10px);
      max-width: 515px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &-image {
      width: calc(50% - 10px);
      max-width: 572px;

      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }

  h3 {
    margin-bottom: 16px;
    font-family: $sfDisplay;
    background: linear-gradient(
      268.3deg,
      #00fff9 -4.34%,
      #00c5ff 13.53%,
      #0078ff 93.71%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    span {
      background: $feesColor;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }

  p {
    color: $iconColor;
    font-family: $sfDisplay;
    margin-bottom: 40px;

    a {
      color: $iconColor;
      text-decoration: underline;
    }

    @include inDarkMode {
      opacity: 0.7;
    }
  }

  .timer {
    padding: 28px 55px 28px 40px;
    background: $timer;
    border-radius: 10px;
    margin-bottom: 24px;
    // max-width: 364px;
    width: 100%;
    max-width: 364px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__clock {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(100% - 5px);
    }

    h6 {
      margin-bottom: 8px;
      font-weight: 500;
      color: $white;
    }

    span {
      font-size: 48px;
      line-height: 48px;
      color: $white;
      font-family: $sfDisplay;
      margin-bottom: unset;
      padding: 0;
    }
  }

  a {
    font-size: 16px;
    line-height: 19px;
    color: $langColor;
    position: relative;
  }

  &.multiplier {
    .bonus {
      &__inner {
        align-items: flex-start;
        padding: 160px 0;

        &-info {
          width: calc(38% - 10px);
        }

        &-text {
          width: calc(62% - 10px);

          p {
            font-weight: 500;
            line-height: 25px;
            font-family: $sfText;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

// 1380px
@mixin bonus-xxxlg-xxxxlg {
  .bonus {
    &.multiplier {
      .bonus {
        &__inner {
          padding: 140px 0;

          &-text {
            width: calc(68% - 10px);
          }

          &-info {
            width: calc(32% - 10px);
          }
        }
      }
    }
  }
}

// 1180px
@mixin bonus-xlg-xxlg {
  .bonus {
    .timer {
      max-width: 320px;

      span {
        font-size: 40px;
        line-height: 40px;
      }
    }

    &.multiplier {
      .bonnus {
        &__inner {
          padding: 90px 0;
        }
      }
    }
  }
}

// 1024px
@mixin bonus-lg-xlg {
  .bonus {
    &__inner {
      &-info {
        h3 {
          margin-bottom: 10px;
        }

        p {
          &.sm {
            margin-bottom: 20px;
          }
        }
      }
    }

    .timer {
      padding: 25px 40px 25px 30px;
      margin-bottom: 20px;
      max-width: 260px;

      span {
        font-size: 35px;
        line-height: 35px;
      }
    }

    &.multiplier {
      .bonus {
        &__inner {
          padding: 70px 0;

          &-info {
            width: calc(40% - 10px);
          }

          &-text {
            width: calc(60% - 10px);

            p {
              &.big {
                font-size: 16px;
                line-height: 24px;
              }
            }
          }
        }
      }
    }
  }
}

// 930px
@mixin bonus-md-lg {
  .bonus {
    &__inner {
      flex-direction: column;

      &-info {
        width: 100%;
        margin: 0 auto 30px;
        max-width: 650px;
      }

      &-image {
        width: 100%;
        margin: 0 auto;
        max-width: 650px;
      }
    }

    .timer {
      padding: 20px 30px 20px;
      margin-bottom: 15px;
      max-width: 224px;

      span {
        font-size: 30px;
        line-height: 30px;
      }
    }

    h3 {
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
    }

    &.multiplier {
      .bonus {
        &__inner {
          &-info {
            width: 100%;
            margin-bottom: 0;
          }

          &-text {
            width: 100%;
            max-width: 650px;
            margin: 0 auto;
          }
        }
      }

      h3 {
        text-align: center;
        margin-bottom: 15px;
      }
    }
  }
}

// 840px
@mixin bonus-md-lg-extra {
  .bonus {
    .timer {
      padding: 20px 30px 20px;
      margin-bottom: 15px;

      p,
      span {
        font-size: 30px;
        line-height: 30px;
      }
    }

    &.multiplier {
      .bonus {
        &__inner {
          padding: 60px 0;
        }
      }
    }
  }
}

// 440px
@mixin bonus-xxsm-xsm {
  .bonus {
    &.multiplier {
      .bonus {
        &__inner {
          &-info {
            margin-bottom: 20px;
          }

          &-text {
            p {
              &.big {
                font-size: 15px;
                line-height: 19.5px;
                font-family: $sfText;
                font-weight: 400;
                margin-bottom: 28px;
              }
            }
          }
        }
      }
    }
    p {
      &.sm {
        font-size: 15px;
        line-height: 19.5px;
        font-family: $sfDisplay;
        font-weight: 400;
        margin-bottom: 28px;
      }
    }
  }
}

// 390px
@mixin bonus-xxxsm-xxsm {
  .bonus {
    &__inner {
      &-info {
        margin-bottom: 25px;
      }
    }
    .timer {
      padding: 24px 25px;
      max-width: unset;
      width: 100%;
      border-radius: 10px;
      margin-bottom: 18px;
      h6 {
        max-width: 160px;
        margin: 0 auto;
        font-size: 15px;
        line-height: 19.5px;
        margin-bottom: 10px;
        width: 100%;
      }
      &__clock {
        max-width: 160px;
        margin: 0 auto;
        span {
          font-weight: 600;
          font-size: 28px;
          line-height: 30px;
        }
      }
    }
    h3 {
      text-align: left;
      margin-bottom: 24px;
      letter-spacing: 0-0.02em;
      background: $white;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      letter-spacing: -0.02em;
      br {
        display: none;
      }
      span {
        background: linear-gradient(
          268.3deg,
          #00fff9 -4.34%,
          #00c5ff 13.53%,
          #0078ff 93.71%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }
    a {
      font-size: 15px;
      line-height: 19.5px;
      font-weight: 500;
      font-family: $sfDisplay;
      margin: 0 auto;
    }
    &.multiplier {
      .bonus {
        &__inner {
          &-info {
            margin-bottom: 0;
          }
        }
      }
      h3 {
        text-align: left;
        margin-bottom: 24px;
        letter-spacing: 0-0.02em;
        background: linear-gradient(
          268.3deg,
          #00fff9 -4.34%,
          #00c5ff 13.53%,
          #0078ff 93.71%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        letter-spacing: -0.02em;
        br {
          display: none;
        }
        span {
          background: $white;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }
      }
    }
  }
}

// disfhjsdiofjsdofijdsoifjdfdfdfdf
.rate {
  position: relative;

  &__inner {
    padding: 120px 102px;
    background-color: $tabBg;
    border-radius: 40px;

    &-image {
      width: 100%;

      img {
        width: 100%;
        object-fit: contain;
        &:nth-child(2) {
          display: none;
        }
      }
    }
  }

  h3 {
    margin-bottom: 60px;
    text-align: center;
    font-family: $sfDisplay;
  }

  .circle {
    position: absolute;
    top: 60%;
    transform: translate(-60%, -50%);
    width: 1000px;
    z-index: -1;

    img {
      width: 100%;
    }
  }
}

// 1180px
@mixin rate-xlg-xxlg {
  .rate {
    &__inner {
      padding: 100px;
    }

    h3 {
      margin-bottom: 50px;
    }

    .circle {
      width: 900px;
    }
  }
}

// 1024px
@mixin rate-lg-xlg {
  .rate {
    &__inner {
      padding: 70px;
    }

    h3 {
      margin-bottom: 40px;
    }
  }
}

// 840px
@mixin rate-md-lg-extra {
  .rate {
    &__inner {
      padding: 50px;
      border-radius: 30px;
    }

    h3 {
      margin-bottom: 30px;
    }

    .circle {
      width: 500px;
    }
  }
}

// 650px
@mixin rate-sm-md-extra {
  .rate {
    &__inner {
      padding: 25px 20px;
      border-radius: 20px;
    }

    h3 {
      margin-bottom: 25px;
    }
  }
}

// 390px
@mixin rate-xxxsm-xxsm {
  .rate {
    &__inner {
      padding: 0;
      background: unset;
      &-image {
        padding: 36px 0;
        position: relative;
        img {
          &:nth-child(1) {
            display: none;
          }
          &:nth-child(2) {
            display: block;
          }
        }
        &::before {
          content: "";
          width: 200%;
          height: 100%;
          background: $tabBg;
          position: absolute;
          left: -70%;
          bottom: 0;
          z-index: -1;
        }
      }
    }
    h3 {
      margin-bottom: 36px;
    }

    .circle {
      width: 300px;
    }
  }
}
