h1 {
  font-weight: 700;
  font-size: 112px;
  line-height: 122px;
}

h2 {
  font-size: 76px;
  line-height: 82px;
}

h3 {
  font-size: 56px;
  line-height: 70px;
}

h4 {
  font-size: 48px;
  line-height: 58px;
}

h5 {
  font-size: 28px;
  line-height: 36px;
}

h6 {
  &.big {
    font-size: 20px;
    line-height: 25px;
  }
  &.sm {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }
}

p {
  &.extra {
    font-size: 32px;
    line-height: 42px;
  }
  &.big {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }
  &.sm{
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
  }
}

main {
  overflow: hidden;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
