h1 {
  font-weight: 700;
  font-size: 112px;
  line-height: 122px;
  background: linear-gradient(
    268.3deg,
    #00fff9 -4.34%,
    #00c5ff 15.57%,
    #0078ff 93.71%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h2 {
  font-size: 76px;
  line-height: 82px;
  background: linear-gradient(
    268.3deg,
    #00fff9 -4.34%,
    #00c5ff 13.53%,
    #0078ff 93.71%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h3 {
  font-size: 56px;
  line-height: 70px;
  span {
    background: linear-gradient(
      268.3deg,
      #00fff9 -4.34%,
      #00c5ff 13.53%,
      #0078ff 93.71%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

h4 {
  font-size: 48px;
  line-height: 58px;
}

h5 {
  font-size: 28px;
  line-height: 36px;
}

h6 {
  &.big {
    font-size: 20px;
    line-height: 25px;
  }
  &.sm {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }
}

p {
  &.extra {
    font-size: 32px;
    line-height: 42px;
  }
  &.big {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }
  &.sm {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
}

main {
  overflow: hidden;
}

.button {
  padding: 15px 39px;
  border-radius: 10px;
  color: $white;
  font-size: 16px;
  line-height: 16px;
  &.secondary {
    padding: 18px 37px;
    font-size: 20px;
    border-radius: 30px;
    background-color: $white;

    span {
      line-height: 23px;
      font-weight: 700;
      font-family: $sfDisplay;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      background: transparent;
    }
  }
}

.mainLogo {
  display: flex;
  align-items: center;
  &__image {
    width: 50px;
    margin-right: 12px;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  p {
    font-family: $sfDisplay;
    font-size: 500;
    line-height: 28px;
    font-size: 28px;
  }
}
