.footer {
  &__inner {
    padding: 100px 0 92px;

    &-main {
      display: flex;
      justify-content: space-between;
      margin-bottom: 48px;

      &-content {
        width: calc(40% - 10px);
        max-width: 407px;
        & > p{
          font-weight: 500;
          font-family: $sfDisplay;
          @include inDarkMode{
            opacity: .7;
          }
        }
      }

      &-links {
        width: calc(60% - 10px);
        display: flex;
        justify-content: space-between;
      }
    }

    &-copy {
      text-align: center;
      color: $pColor;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      @include inDarkMode{
        opacity: .7;
      }

      span {
        width: 6px;
        height: 6px;
        display: block;
        margin: 0 12px;
        border-radius: 50%;
        background-color: #d9d9d9;
      }
    }
  }

  p {
    &.sm {
      line-height: 25px;
      color: $pColor;
    }
  }

  &Link {
    @include inDarkMode{
      h5 {
        opacity: .7;
      }
      a {
        opacity: .7;
        &:hover {
          opacity: 1;
        }
      }
    }
    h5 {
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 20px;
      font-family: $sfDisplay;
  font-weight: 500;
   
    }
    a {
      display: block;
      margin-bottom: 15px;
      font-size: 16px;
      line-height: 19px;
      color: $iconColor;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .mainLogo {
    margin-bottom: 25px;
  }
}

// 1250px
@mixin footer-xlg-xxlg-extra {
  .footer {
    &__inner {
      padding: 90px 0;

      &-main {
        &-links {
          width: calc(55% - 10px);
        }

        &-content {
          width: calc(45% - 10px);
          max-width: 380px;

          p {
            &.sm {
              font-size: 15px;
              line-height: 23px;
            }
          }
        }
      }
    }

    &Link {
      h5 {
        font-size: 19px;
        line-height: 24px;
      }

      a {
        font-size: 15px;
        line-height: 20px;
      }
    }
  }
}

// 930px
@mixin footer-md-lg {
  .footer {
    &__inner {
      padding: 80px 0 60px;

      &-main {
        flex-direction: column;

        &-content {
          width: 100%;
          margin: 0 auto 40px;
          max-width: 400px;
          text-align: center;
        }

        &-links {
          width: 100%;
          max-width: 700px;
          margin: 0 auto;
        }
      }
    }

    p {
      text-align: center;
    }

    .mainLogo {
      justify-content: center;
      margin-bottom: 20px;
    }
  }
}

// 650px
@mixin footer-sm-md-extra {
  .footer {
    &__inner {
      padding: 66px 0 40px;


      &-copy {
        font-size: 16px;
        line-height: 22px;
      }
    }

    .mainLogo {
      margin-bottom: 15px;

      &__image {
        width: 48px;
        margin-right: 12px;
      }

    }

    &Link {
      h5 {
        font-size: 17px;
        line-height: 22px;
      }

      a {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 10px;
      }
    }
  }
}

// 440px
@mixin footer-xxsm-xsm {
  .footer {
    &__inner {
      &-main {
        &-content {
          margin: 0 0 45px;
        }
      }
      &-copy {
        font-size: 15px;
        line-height: 20px;
      }
    }

    .mainLogo {
      margin-bottom: 16px;
      text-align:start;
      justify-content: flex-start;

    }

    p {
      text-align: start;
      &.sm {
        font-size: 15px;
        line-height: 19px;
      }
    }

    &Link {
      h5 {
        font-size: 16px;
        line-height: 20px;
      }

      a {
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 15px;
      }
    }
  }
}

// 390px
@mixin footer-xxxsm-xxsm {
  .footer {
    &__inner {

      &-main {
        margin-bottom: 50px;

        &-links {
          flex-wrap: wrap;
        }

        &-content {
        }
      }

      &-copy {
        flex-wrap: wrap;
        font-size: 13px;
        line-height: 17px;

        span {
          margin: 0 5px;
        }
      }
    }

    &Link {
      width: calc(50% - 15px);
      margin-bottom: 45px;
      text-align: left;

      &:last-child {
        margin-bottom: 0;
        width: calc(70% - 15px);

      }
    }
  }
}