.header {

  &.uniqHead:not(.sticky){
    .header {
      &__inner {
        &-logo {
          color: #fff;
        }
        .button {
          &.uniq {
            &.uniqDark {
              &:hover {
                opacity: .8;
              }
            }
          }
          &.icon {
            background-color: #131823;
            &:hover {
              svg {
                fill: $blue;
                &.moon {
                  fill: #fff;
                }
              }
            }
            svg {
              fill: #fff;
              
            }
          }
        }
     
        .lang {
          color: #F6F9FC;
          svg {
            stroke:#F4F4F4CC;
          }
        }
      }
    
    }
    .burger {
      &::before {
        background-color: #fff;
      }
      &::after {
        background-color: #fff;
      }
      span {
        background-color: #fff;
      }
    }
    .nav {
      &__inner {
        li {
          a {
            color: #fff;
          }
        }
      }
    }
  }
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 12;

  .auto__container {
    max-width: 1460px;
  }
  &.uniqHead {
    &.active {
      background-color: $bgColor;
      .header {
        &__inner {
          &-logo {
            color: $textColor;
          }
          .button.icon {
            background-color: $iconbg;
            &:hover {
              svg {
                fill: $blue;
                &.moon {
                  fill: $iconColor;
                }
              }
            }
            svg {
              fill: $iconColor;
            }
          }
          .lang {
            color: $langColor;
            svg {
              stroke:$langColor;
            }
          }
          .burger {
            &::before {
              background-color: $textColor;
            }
            &::after {
              background-color: $textColor;
            }
            span {
              background-color: $textColor;
            }
          }
        }
      }
    }
  }
  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation-name: sticky;
    animation-duration: .4s;
    background-color: $bgColor;
    box-shadow: 0px 8px 18px 0px #00000030;
  }

  &__inner {
    padding: 40px 0 30px;
    display: flex;
    align-items: center;

    &-logo {
      display: flex;
      align-items: center;
      font-size: 28px;
      line-height: 28px;
      font-weight: 500;
      font-family: $sfDisplay;
      max-width: 170px;
      margin-right: 40px;
      color: $textColor;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        margin-right: 13px;

        img {
          width: 100%;
        }
      }
    }

    &-buttons {
      display: flex;
      align-items: stretch;
      margin: 0 0 0 auto;
      &-row {
        display: flex;
        align-items: stretch;
        margin-right: 6px;
      }
      #themeChange {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 2;
        cursor: pointer;
      }
      .button {
        margin-right: 12px;
        position: relative;
      }
      .lang {
        display: flex;
        align-items: center;
        font-family: $graphik;
        color: $langColor;
        font-size: 14px;
        line-height: 15px;
        letter-spacing: -.5px;
        font-weight: 500;
        position: relative;
        &__dropdown {
          position: absolute;
          top: calc(100% + 5px);
          left: 50%;
          display: flex;
          flex-direction: column;
          width: 100%;
          padding: 8px ;
          border-radius: 12px;
          background-color: $textColor;
          max-height: 0;
          opacity: 0;
          transition: .3s ease;
          color: $bgColor;
          transform: translateX(-50%);
          overflow: hidden;
          z-index: 12;
          .check {
            padding: 4px 10px;
            transition: .2s ease;
            text-align: start;
            position: static;
            &::after {
              display: none;
            }
            span {
              white-space: nowrap;
              width: unset;
            }
          }
        }
        & > span {
          margin-top: 4px;
        }
        &:hover {
          opacity: 1;
          .lang__dropdown {
            max-height: 100px;
            opacity: 1;
            overflow: unset;
          }
        }
        svg {
          width: 11px;
          height: 7px;
          margin-left: 10px;
          stroke: $langColor;
          fill: transparent;
          &.globe {
            width: 24px;
            height: 24px;
            margin: 0 8px 0 0;
          }
        }
      }
    }
  }
}
// 1700px
@mixin header-xxxxxlg-xxxxxxlg {
  .header {
      &__inner {
        &-buttons {
          .lang {
            &__dropdown {
              .check {
                span {
                  left: unset;
                  right: -36%;
                  transform: translateX(0);
                  &::before {
                    left: unset;
                    right: 58px;
                  }
                }
              }
            }
          }
        }
      }
  }
}
// 1380px
@mixin header-xxxlg-xxxxlg {
  .header {
      &__inner {
        padding: 30px 0;
        li {
          margin-right: 16px;
          a {
            font-size: 14px;
            line-height: 16px;
          }
        }
        &-buttons {
          .button {
            margin-right: 6px;
            &.primary {
              padding: 10px 20px;
            }
            &.uniq {
              padding: 10px 30px;
            }
            &.icon {
              padding: 10px;
              svg, img {
                width: 18px;
                height: 18px;
              }
            }
          }
          .lang {
            &__dropdown {
              .check {
                span {
                  &::before {
                    right: 53px;
                  }
                }
              }
            }
            svg {
              &.globe {
                width: 20px;
                height: 20px;
                margin-right: 5px;
              }

            }
          }
        }
        &-logo {
          margin-right: 26px;
          font-size: 22px;
          line-height: 24px;
          span {
            width: 40px;
            margin-right: 8px;
          }
        }
      }
  }
}
// 1180px
@mixin header-xlg-xxlg {
  .header {
    &.uniqHead:not(.sticky){
      .header {
      }
      .nav {
        &__inner {
          li {
            a {
              color: $textColor;
            }
          }
        }
      }
  }
    &__inner {
      padding: 16px 0;
      &-logo {
        margin-right: 0;
      }
      &-buttons {
        .button {
          margin-right: 12px;
        }
        &-row {
          display: none;
        }
        .lang {
          margin-right: 20px;
          &__dropdown {
            .check {
              span {
                right: -60%;
                &::before {
                  right: 73px;
                }
              }
            }
          }
        }
      }
    }
  }
}

// 540px
@mixin header-xsm-sm {
  .header {
    &__inner {
      &-logo {
        font-size: 18px;
        line-height: 20px;
        span {
          width: 36px;
          margin-right: 6px;
        }
      }
      &-buttons {
        .lang {
          margin-right: 8px;
          svg {

          }
        }
        .button {
          margin-right: 5px;
          &.icon {
            padding: 8px;
            border-radius: 6px;
            svg, img {
              width: 16px;
              height: 16px;
            }
          }
        }
      }
    }
  }
}
// 440px
@mixin header-xxsm-xsm {
  .header {
    &.sticky {
      .header__inner {
        padding: 10px 0;
      }
      .nav {
        top: 50.24px;
        height: calc(100% - 50.24px);
      }
    }
    &.uniqHead {
      .header {
        &__inner {
          padding: 10px 0;
        }
      }
      .nav {
        top: 50.24px;
        height: calc(100% - 50.24px);
      }
    }
    &__inner {
      padding: 20px 0;
      &-logo {
        font-size: 16px;
        line-height: 18px;
        span {
          width: 28px;
          margin-right: 7px;
        }
      }
      &-buttons {
        .lang {
          margin-right: 8px;
          font-size: 11px;
          line-height: 12px;
          &__dropdown {
            padding: 6px;
            border-radius: 10px;
            .check {
              padding: 2px 8px;
              margin: 0;
              span {
                right: -60%;
                padding: 5px 8px;
                &::before {
                  right: 50px;
                }
              }
            }
          }
          & > span {
            margin-top: 3px;
          }
          svg {
            margin-left: 5px;
            &.globe {
              width: 13px;
              height: 13px;
            }
          }
        }
        .button {
          margin-right: 5px;
          &.icon {
            padding: 5px;
            border-radius: 4px;
            svg, img {
              width: 12px;
              height: 12px;
            }
          }
        }
      }
    }
  }
}
@keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}