.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  .auto__container {
    max-width: 1460px;
  }

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation-name: sticky;
    animation-duration: .4s;
  }

  &__inner {
    padding: 40px 0;
    display: flex;
    align-items: center;

    &-logo {
      display: flex;
      align-items: center;
      font-size: 28px;
      line-height: 28px;
      font-weight: 500;
      font-family: $sfDisplay;
      max-width: 170px;
      margin-right: 40px;
      color: $textColor;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        margin-right: 13px;

        img {
          width: 100%;
        }
      }
    }

    &-buttons {
      display: flex;
      align-items: center;
      margin: 0 0 0 auto;

      .button {
        margin-right: 12px;
      }
      .lang {
        display: flex;
        align-items: center;
        font-family: $graphik;
        color: $langColor;
        font-size: 14px;
        line-height: 15px;
        letter-spacing: -.5px;
        font-weight: 500;

        svg {
          width: 11px;
          height: 7px;
          margin-left: 10px;
          stroke: $langColor;
          fill: transparent;
          &.globe {
            width: 24px;
            height: 24px;
            margin: 0 8px 0 0;
          }
        }
      }
    }
  }
}

// 1024px
@mixin header-lg-xlg {
  .header {}
}

// 540px
@mixin header-xsm-sm {
  .header {}
}

@keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}