.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 12;

  .auto__container {
    max-width: 1460px;
  }

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation-name: sticky;
    animation-duration: .4s;
    background-color: $bgColor;
    box-shadow: 0px 8px 18px 0px #00000030;
  }

  &__inner {
    padding: 40px 0 30px;
    display: flex;
    align-items: center;

    &-logo {
      display: flex;
      align-items: center;
      font-size: 28px;
      line-height: 28px;
      font-weight: 500;
      font-family: $sfDisplay;
      max-width: 170px;
      margin-right: 40px;
      color: $textColor;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        margin-right: 13px;

        img {
          width: 100%;
        }
      }
    }

    &-buttons {
      display: flex;
      align-items: stretch;
      margin: 0 0 0 auto;
      &-row {
        display: flex;
        align-items: stretch;
      }
      #themeChange {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 2;
        cursor: pointer;
      }
      .button {
        margin-right: 12px;
        position: relative;
      }
      .lang {
        display: flex;
        align-items: center;
        font-family: $graphik;
        color: $langColor;
        font-size: 14px;
        line-height: 15px;
        letter-spacing: -.5px;
        font-weight: 500;
        position: relative;
        &__dropdown {
          position: absolute;
          top: calc(100% + 5px);
          left: 50%;
          display: flex;
          flex-direction: column;
          width: 100%;
          padding: 8px ;
          border-radius: 12px;
          background-color: $textColor;
          max-height: 0;
          opacity: 0;
          transition: .3s ease;
          color: $bgColor;
          transform: translateX(-50%);
          overflow: hidden;
          z-index: 12;
          span {
            padding: 4px 10px;
            transition: .2s ease;
            text-align: start;
            &:hover {
              opacity: .9;
            }
          }
        }
        & > span {
          margin-top: 4px;
        }
        &:hover {
          opacity: 1;
          .lang__dropdown {
            max-height: 100px;
            opacity: 1;
          }
        }
        svg {
          width: 11px;
          height: 7px;
          margin-left: 10px;
          stroke: $langColor;
          fill: transparent;
          &.globe {
            width: 24px;
            height: 24px;
            margin: 0 8px 0 0;
          }
        }
      }
    }
  }
}
// 1380px
@mixin header-xxxlg-xxxxlg {
  .header {
      &__inner {
        padding: 30px 0;
        li {
          margin-right: 16px;
          a {
            font-size: 14px;
            line-height: 16px;
          }
        }
        &-buttons {
          .button {
            margin-right: 8px;
            &.primary {
              padding: 10px 30px;
            }
            &.icon {
              padding: 10px;
              svg, img {
                width: 18px;
                height: 18px;
              }
            }
          }
        }
        &-logo {
          margin-right: 26px;
          font-size: 22px;
          line-height: 24px;
          span {
            width: 40px;
            margin-right: 8px;
          }
        }
      }
  }
}
// 1024px
@mixin header-lg-xlg {
  .header {
    &__inner {
      padding: 16px 0;
      &-logo {
        margin-right: 0;
      }
      &-buttons {
        .button {
          margin-right: 12px;
        }
        &-row {
          display: none;
        }
        .lang {
          margin-right: 20px;
        }
      }
    }
  }
}

// 540px
@mixin header-xsm-sm {
  .header {
    &__inner {
      padding: 10px 0;
      &-logo {
        font-size: 18px;
        line-height: 20px;
        span {
          width: 36px;
          margin-right: 6px;
        }
      }
      &-buttons {
        .lang {
          margin-right: 12px;
        }
        .button {
          margin-right: 8px;
          &.icon {
            padding: 8px;
            border-radius: 6px;
            svg, img {
              width: 16px;
              height: 16px;
            }
          }
        }
      }
    }
  }
}

@keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}